* {
    color: hotpink;
}

h1, h2 {
    color: mediumaquamarine;
}

.post p {
    color: mediumslateblue
}

.post p::first-letter {
    font-size: 30px;
    font-weight: bold;
}

p {
    color: mediumseagreen;
}

h1 + p {
    color: midnightblue;
}