<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-EJS</title>
</head>
<body>
    <h1>Welcome in the world of EJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione suscipit porro, odio maiores quidem provident fuga! Similique obcaecati est neque doloribus voluptatum vitae voluptatem voluptates, laboriosam iure ipsa distinctio quae?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad repellendus consectetur, illo architecto nulla, magni quaerat laborum aperiam sint reiciendis sequi eos alias, repudiandae neque placeat earum quidem modi quae.</p>
</body>
</html>