/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
    background: #1B4332;
    font-family: 'Open Sans';
}

.panel {
    max-width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 40px;
}

.pricing-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: 20px;
}

.pricing-plan img {
    width: 250px;
    height: auto;
}

.pricing-plan {
    text-align: center;
    padding: 30px;
}

.pricing-plan:nth-of-type(2) {
    /* padding: 50px; */
    border-right: 1px solid #1B4332;
    border-left: 1px solid #1B4332;
}

.pricing-plan h2 {
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 0 50px;
    /* border-bottom: 1px solid #1B4332; */
}

.pricing-features {
    color: #2D6A4F;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0 40px;
}

.pricing-features li {
    padding: 20px 20px 20px;
    border-bottom: 1px solid #1B4332;
}

.pricing-price {
    display: block;
    color: #2D6A4F;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.pricing-button {
    border: 1px solid #1B4332;
    /* margin-top: 20px; */
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #1B4332;
}


